
.swiper {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 430px;
  height: 430px;
}
@media (max-width: 767px) {
  .swiper-slide{
    width: 270px;
    height: 270px;
  
   
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.collection{
  background-color: rgb(255, 255, 255);
}
/* media queries */
/**
@media (max-width: 767px) {
 
  .swiper{
   
   min-width: 767px;
  }
  
  }
  
  @media (max-width: 400px) {    
    .collection{
      background-color: rgb(130, 49, 49);
   }
  }

  */